/****** PLACE YOUR CUSTOM STYLES HERE ******/
canvas{ display: block; vertical-align: bottom; height: 110%;} #particles-js{ position: fixed; width: 100%; height: 100%; background-color: #13181d;}
.bg-primary {
	background: transparent !important;
}


.hoverProject:hover h6 {
	-webkit-transition: color 0.5s; /* Safari */
    transition: color 0.3s;
}

.hoverProject {
    cursor: pointer;
}

.hoverProject:hover h6, ul.menu li a:hover  {
	color: #47AAFF;
}

.logo {
	height: 16px;
}

.logo-small {
	height: 13px;
}

.bg-dark .back-to-top:hover {
	color: #fff;
	border-color: #13181d;
}

@media (max-width: 767px) {
	.p0-xs {
		height: 80px;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
	    padding-left: 10px;
	    padding-right: 4px;
	} 

	h3.uppercase {
		letter-spacing: 3px ;
	}

	h5.uppercase {
		letter-spacing: 1px ;
		margin-bottom: 0;
	}
}

@media (max-width: 380px) {
	.p0-xs {
	    padding-left: 6px;
	    padding-right: 2px;
	} 

	h3.uppercase {
		letter-spacing: 1px ;
	}

	h5.uppercase {
		letter-spacing: 0px ;
	}
}